@page
@model InventoryApp.Pages.Allocation.EditModel

@{
    ViewData["Title"] = "Edit Allocation";
}

<h1>Edit</h1>

<h4>Allocation</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Allocation.AllocationID"/>
            <div class="form-group">
                <label asp-for="Allocation.Quantity" class="control-label"></label>
                <input asp-for="Allocation.Quantity" class="form-control"/>
                <span asp-validation-for="Allocation.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allocation.CreatedDate" class="control-label">Allocation date</label>
                <input asp-for="Allocation.CreatedDate" type="date" class="form-control" />
                <span asp-validation-for="Allocation.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}