@page
@model InventoryApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Navigate to <a asp-area ="" asp-page="/Product/Index"> Product </a> page.</p>
</div>
