@page
@model InventoryApp.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website is used as part of the interview process for QA engineers at Enlight. The website is only intended for testing purposes and does not collect any data from the users. The website does not use cookies, analytics, or any other tracking tools. The website does not store, share, or sell any personal information of the users. The website does not require any registration or login. The website does not ask for any feedback or ratings from the users.

    By using this website, you agree to abide by the terms and conditions of Enlight and respect the intellectual property rights of Enlight. You also agree to use this website only for the duration of the interview process and not for any other purposes.

    If you have any questions or concerns about this privacy policy, please contact us at office@enlight.com.
</p>
